:root {
  --blue-player: #50f;
  --red-player: #f05;
  --nop: #aaa;
}

.center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: #597;
}

.parent {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.child {
  padding: 2rem;
  background-color: var(--nop);
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

.child.red {
  background-color: var(--red-player);
}

.child.blue {
  background-color: var(--blue-player);
}

.turn {
  background-color: #777a;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  transition: all 1s;
  text-transform: capitalize;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.turn.red {
  color: var(--red-player);
}

.turn.blue {
  color: var(--blue-player);
}

.turn.win {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .child {
    padding: 4rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
